.parent{
	display: flex;
	flex-direction:  row;
	flex-wrap:  wrap;
}

.child-1{
	width: 30%;
	/*border-width: 1px;
	border-color: red;
	border-style: dashed;*/ 
	border: 1px red solid;
	margin: 1%;
	padding: 1%;
	box-shadow: 3px 3px 3px #ddd;
}
.child-2{
	width: 60%;
	border: 1px red solid;
	margin: 1%;
	padding: 1%;
}
.child-1>img{
	width: 50%;
	display: block;
	margin: 0 auto 0 auto;]

}
a{
	word-wrap: break-word;
	text-decoration: none;
}
h3{
	color:#DE3163;
}

table{
	width: 100%;
	margin: 1%;
	border:  1px solid #ddd; 
}
table thead{
	background: #DFFF00;
}
thead tr th {
	padding: 1%;
}
thead tr th :nth-child(odd){
	background: #ddd;
}
tbody tr td{
	padding:  1%;
} 
/*mobile devices*/
@media only screen and (min-width: 320px) and (max-width: 767px){

.child-1{
	width: 90%;
	/*border-width: 1px;
	border-color: red;
	border-style: dashed;*/ 
	border: 1px red solid;
	margin: 1%;
	padding: 1%;
	box-shadow: 3px 3px 3px #ddd;
}
.child-2{
	width: 90%;
	border: 1px red solid;
	margin: 1%;
	padding: 1%;
}
}
/* tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px){

.child-1{
	width: 45%;
	/*border-width: 1px;
	border-color: red;
	border-style: dashed;*/ 
	border: 1px red solid;
	margin: 1%;
	padding: 1%;
	box-shadow: 3px 3px 3px #ddd;
}
.child-2{
	width: 45%;
	border: 1px red solid;
	margin: 1%;
	padding: 1%;
}
} 